interactions:
- request:
    body: client_id=dummy_client_id&client_secret=dummy_client_secret
    headers:
      Authorization:
      - Bearer dummy_token
      Content-Type:
      - application/x-www-form-urlencoded
    method: POST
    uri: https://config.private.zscaler.com/signin
  response:
    body:
      string: "{\n  \"token_type\" : \"Bearer\",\n  \"access_token\": \"eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJleHAiOjE3MTIwMzc4MTd9.DnpkkwTfCiLNScrC869jvJTjL_AgNWFQnKLYVgQAUMQ\",\n
        \ \"expires_in\" : \"3600\"\n}"
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: '{"name": "tests-app-connector-group", "latitude": "37.3382082", "location":
      "San Jose, CA, USA", "longitude": "-121.8863286", "description": "tests-app-connector-group
      description", "enabled": true, "upgradeDay": "SUNDAY", "upgradeTimeInSecs":
      "66600", "overrideVersionProfile": true, "versionProfileId": "0", "versionProfileName":
      "Default", "dnsQueryType": "IPV4_IPV6", "praEnabled": true, "tcpQuickAckApp":
      true, "tcpQuickAckAssistant": true, "tcpQuickAckReadAssistant": true}'
    headers:
      Authorization:
      - Bearer dummy_token
      Content-Type:
      - application/json
    method: POST
    uri: https://config.private.zscaler.com/mgmtconfig/v1/admin/customers/216199618143191040/appConnectorGroup
  response:
    body:
      string: '{"id":"216199618143334331","modifiedTime":"1711951417","creationTime":"1711951417","modifiedBy":"216199618143191053","name":"tests-app-connector-group","enabled":true,"description":"tests-app-connector-group
        description","versionProfileId":"0","overrideVersionProfile":true,"versionProfileName":"Default","upgradeTimeInSecs":"66600","upgradeDay":"SUNDAY","location":"San
        Jose, CA, USA","latitude":"37.3382082","longitude":"-121.8863286","dnsQueryType":"IPV4_IPV6","cityCountry":"San
        Jose, US","countryCode":"US","tcpQuickAckApp":true,"tcpQuickAckAssistant":true,"tcpQuickAckReadAssistant":true,"praEnabled":true,"useInDrMode":false,"wafDisabled":false,"lssAppConnectorGroup":false}'
    headers:
      Content-Type:
      - application/json;charset=utf-8
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
      Authorization:
      - Bearer dummy_token
      Content-Type:
      - application/json
    method: GET
    uri: https://config.private.zscaler.com/mgmtconfig/v1/admin/customers/216199618143191040/appConnectorGroup/216199618143334331
  response:
    body:
      string: '{"id":"216199618143334331","modifiedTime":"1711951417","creationTime":"1711951417","modifiedBy":"216199618143191053","name":"tests-app-connector-group","enabled":true,"description":"tests-app-connector-group
        description","versionProfileId":"0","overrideVersionProfile":true,"versionProfileName":"Default","versionProfileVisibilityScope":"ALL","upgradeTimeInSecs":"66600","upgradeDay":"SUNDAY","location":"San
        Jose, CA, USA","latitude":"37.3382082","longitude":"-121.8863286","dnsQueryType":"IPV4_IPV6","cityCountry":"San
        Jose, US","countryCode":"US","tcpQuickAckApp":true,"tcpQuickAckAssistant":true,"tcpQuickAckReadAssistant":true,"praEnabled":true,"useInDrMode":false,"wafDisabled":false,"microtenantName":"Default","lssAppConnectorGroup":false}'
    headers:
      Content-Type:
      - application/json;charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      Authorization:
      - Bearer dummy_token
      Content-Type:
      - application/json
    method: GET
    uri: https://config.private.zscaler.com/mgmtconfig/v1/admin/customers/216199618143191040/appConnectorGroup?page=1&pagesize=500
  response:
    body:
      string: '{"totalPages":"1","totalCount":"6","list":[{"id":"216199618143326712","modifiedTime":"1709856735","creationTime":"1709856735","modifiedBy":"216199618143191041","name":"Example100","enabled":true,"description":"Example100","versionProfileId":"0","overrideVersionProfile":false,"versionProfileName":"Default","versionProfileVisibilityScope":"ALL","upgradeTimeInSecs":"28800","upgradeDay":"MONDAY","location":"San
        Jose, CA, USA","latitude":"37.33874","longitude":"-121.8852525","dnsQueryType":"IPV4_IPV6","cityCountry":"San
        Jose,[...]
[...]
- request:
    body: null
    headers:
      Authorization:
      - Bearer dummy_token
      Content-Type:
      - application/json
    method: DELETE
    uri: https://config.private.zscaler.com/mgmtconfig/v1/admin/customers/216199618143191040/appConnectorGroup/216199618143334331
  response:
    body:
      string: ''
    headers:
    status:
      code: 204
      message: No Content
version: 1
