interactions:
- request:
    body: client_id=dummy_client_id&client_secret=dummy_client_secret
    headers:
      Authorization:
      - Bearer dummy_token
      Content-Type:
      - application/x-www-form-urlencoded
    method: POST
    uri: https://config.private.zscaler.com/signin
  response:
    body:
      string: "{\n  \"token_type\" : \"Bearer\",\n  \"access_token\": \"eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJleHAiOjE3MTIwMzc4MjZ9.6UMmim3bMGEyyCikO_WQavemqYlBed_K4OGn-5XNcsQ\",\n
        \ \"expires_in\" : \"3600\"\n}"
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Authorization:
      - Bearer dummy_token
      Content-Type:
      - application/json
    method: GET
    uri: https://config.private.zscaler.com/mgmtconfig/v2/admin/customers/216199618143191040/posture?page=1&pagesize=500
  response:
    body:
      string: '{"totalPages":"1","totalCount":"0","list":[{"id":"216199618143191254","modifiedTime":"1652337552","creationTime":"1652337552","modifiedBy":"72057594037928115","name":"CrowdStrike_ZPA_Pre-ZTA
        (zscalertwo.net)","postureUdid":"e2538bb9-af91-49bc-98ea-e90bbe048203","applyToMachineTunnelEnabled":false,"crlCheckEnabled":false,"nonExportablePrivateKeyEnabled":false,"zscalerCloud":"zscalertwo"},{"id":"216199618143262947","modifiedTime":"1698038743","creationTime":"1698038743","modifiedBy":"72057594037928115","name":"CrowdStrike    ZPAZTA40
        (zscalertwo.net)","postureUdid":"c760064b-54ff-4312-8374-07cfc61e09d7","applyToMachineTunnelEnabled":false,"crlCheckEnabled":false,"nonExportablePrivateKeyEnabled":false,"zscalerCloud":"zscalertwo"},{"id":"216199618143262950","modifiedTime":"1698038797","creationTime":"1698038797","modifiedBy":"72057594037928115","name":"CrowdSt[...]
- request:
    body: null
    headers:
      Authorization:
      - Bearer dummy_token
      Content-Type:
      - application/json
    method: GET
    uri: https://config.private.zscaler.com/mgmtconfig/v1/admin/customers/216199618143191040/posture/216199618143191254
  response:
    body:
      string: '{"id":"216199618143191254","modifiedTime":"1652337552","creationTime":"1652337552","modifiedBy":"72057594037928115","name":"CrowdStrike_ZPA_Pre-ZTA
        (zscalertwo.net)","postureUdid":"e2538bb9-af91-49bc-98ea-e90bbe048203","applyToMachineTunnelEnabled":false,"crlCheckEnabled":false,"nonExportablePrivateKeyEnabled":false,"zscalerCloud":"zscalertwo"}'
    headers:
      Content-Type:
      - application/json;charset=utf-8
    status:
      code: 200
      message: OK
[...]
