interactions:
- request:
    body: client_id=dummy_client_id&client_secret=dummy_client_secret
    headers:
      Authorization:
      - Bearer dummy_token
      Content-Type:
      - application/x-www-form-urlencoded
    method: POST
    uri: https://config.private.zscaler.com/signin
  response:
    body:
      string: "{\n  \"token_type\" : \"Bearer\",\n  \"access_token\": \"eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJleHAiOjE3MTIwMzc4Mzd9.-KKVfYZLLJOjZKagcFZ16GERyFFce83ZX5AzDu98Xgo\",\n
        \ \"expires_in\" : \"3600\"\n}"
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: '{"name": "itest app group", "enabled": true}'
    headers:
      Authorization:
      - Bearer dummy_token
      Content-Type:
      - application/json
    method: POST
    uri: https://config.private.zscaler.com/mgmtconfig/v1/admin/customers/216199618143191040/segmentGroup
  response:
    body:
      string: '{"id":"216199618143334335","modifiedTime":"1711951437","creationTime":"1711951437","modifiedBy":"216199618143191053","name":"itest
        app group","enabled":true,"configSpace":"DEFAULT","tcpKeepAliveEnabled":"0"}'
    headers:
      Content-Type:
      - application/json;charset=utf-8
    status:
      code: 201
      message: Created
- request:
    body: '{"name": "itest-appsegment", "domainNames": ["crm.example.com"], "tcpPortRanges":
      ["80", "80"], "udpPortRanges": null, "segmentGroupId": "216199618143334335",
      "serverGroups": []}'
    headers:
      Authorization:
      - Bearer dummy_token
      Content-Type:
      - application/json
    method: POST
    uri: https://config.private.zscaler.com/mgmtconfig/v1/admin/customers/216199618143191040/application
  response:
    body:
      string: '{"id":"216199618143334336","domainNames":["crm.example.com"],"name":"itest-appsegment","tcpPortRanges":["80","80"],"doubleEncrypt":false,"configSpace":"DEFAULT","bypassType":"NEVER","healthCheckType":"DEFAULT","icmpAccessType":"NONE","isCnameEnabled":true,"ipAnchored":false,"bypassOnReauth":false,"inspectTrafficWithZia":false,"tcpKeepAlive":"0","matchStyle":"EXCLUSIVE","isIncompleteDRConfig":false,"adpEnabled":false,"autoAppProtectEnabled":false,"fqdnDnsCheck":false,"segmentGroupId":"216199618143334335"}'
    headers:
      Content-Type:
      - application/json;charset=utf-8
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
      Authorization:
      - Bearer dummy_token
      Content-Type:
      - application/json
    method: GET
    uri: https://config.private.zscaler.com/mgmtconfig/v1/admin/customers/216199618143191040/application/216199618143334336
  response:
    body:
      string: '{"modifiedTime":"1711951438","creationTime":"1711951438","modifiedBy":"216199618143191053","id":"216199618143334336","domainNames":["crm.example.com"],"name":"itest-appsegment","enabled":true,"passiveHealthEnabled":true,"tcpPortRanges":["80","80"],"tcpPortRange":[{"from":"80","to":"80"}],"doubleEncrypt":false,"configSpace":"DEFAULT","bypassType":"NEVER","healthCheckType":"DEFAULT","icmpAccessType":"NONE","isCnameEnabled":true,"ipAnchored":false,"bypassOnReauth":false,"inspectTrafficWithZia":false,"healthReporting":"ON_ACCESS","useInDrMode":false,"tcpKeepAlive":"0","selectConnectorCloseToApp":false,"matchStyle":"EXCLUSIVE","isIncompleteDRConfig":false,"adpEnabled":false,"autoAppProtectEnabled":false,"fqdnDnsCheck":false,"microtenantName":"Default","segmentGroupId":"216199618143334335","segmentGroupName":"itest
        app group"}'
    headers:
      Content-Type:
      - application/json;charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Authorization:
      - Bearer dummy_token
      Content-Type:
      - application/json
    method: GET
    uri: https://config.private.zscaler.com/mgmtconfig/v1/admin/customers/216199618143191040/application?page=1&pagesize=500
  response:
    body:
      string: '{"totalPages":"1","totalCount":"0","list":[{"modifiedTime":"1711634027","creationTime":"1710801310","modifiedBy":"216199618143191053","id":"216199618143331388","domainNames":["server1.acme.com"],"name":"Example","description":"Example","serverGroups":[{"id":"216199618143326742","modifiedTime":"1709857837","creationTime":"1709857357","modifiedBy":"216199618143191041","name":"Microtenant0","enabled":true,"description":"Microtenant0","configSpace":"DEFAULT","dynamicDiscovery":true}],"enabled":true,"passiveHealthEnabled":true,"tcpPortRanges":["8080","8080"],"tcpPortRange":[{"from":"8080","to":"8080"}],"doubleEncrypt":false,"configSpace":"DEFAULT","bypassType":"NEVER","healthCheckType":"DEFAULT","icmpAccessType":"NONE","isCnameEnabled":true,"ipAnchored":false,"bypassOnReauth":false,"inspectTrafficWithZia":false,"healthReporting":"ON_ACCESS","useInDrMode":false,"tcpKeepAlive":"0","selectConnectorCloseToApp":false,"matchStyle":"EXCLUSIVE","isIncompleteDRConfig":false,"ad[...]
[...]
- request:
    body: null
    headers:
      Authorization:
      - Bearer dummy_token
      Content-Type:
      - application/json
    method: DELETE
    uri: https://config.private.zscaler.com/mgmtconfig/v1/admin/customers/216199618143191040/application/216199618143334336?forceDelete=true
  response:
    body:
      string: ''
    headers:
    status:
      code: 204
      message: No Content
- request:
    body: null
    headers:
      Authorization:
      - Bearer dummy_token
      Content-Type:
      - application/json
    method: DELETE
    uri: https://config.private.zscaler.com/mgmtconfig/v1/admin/customers/216199618143191040/segmentGroup/216199618143334335
  response:
    body:
      string: ''
    headers:
    status:
      code: 204
      message: No Content
version: 1
