interactions:
- request:
    body: client_id=dummy_client_id&client_secret=dummy_client_secret
    headers:
      Authorization:
      - Bearer dummy_token
      Content-Type:
      - application/x-www-form-urlencoded
    method: POST
    uri: https://config.private.zscaler.com/signin
  response:
    body:
      string: "{\n  \"token_type\" : \"Bearer\",\n  \"access_token\": \"eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJleHAiOjE3MTIwMzQ3MzZ9.FThlOPXylLrLKQdZ5BlYZ0q0mcO2lLqJ72l54KAixHE\",\n
        \ \"expires_in\" : \"3600\"\n}"
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Authorization:
      - Bearer dummy_token
      Content-Type:
      - application/json
    method: GET
    uri: https://config.private.zscaler.com/mgmtconfig/v1/admin/customers/216199618143191040/machineGroup?page=1&pagesize=500
  response:
    body:
      string: '{"totalPages":"1","totalCount":"9","list":[{"id":"216199618143191078","creationTime":"1651558329","modifiedBy":"216199618143191056","name":"BD-MGR01","enabled":true,"description":"BD-MGR01"},{"id":"216199618143191079","creationTime":"1651558354","modifiedBy":"216199618143191056","name":"BD-MGR02","enabled":true,"description":"BD-MGR02"},{"id":"216199618143260849","modifiedTime":"1696546721","creationTime":"1696546721","modifiedBy":"216199618143191041","name":"BD
        MGR 03","enabled":true,"description":"BD MGR 03"},{"id":"216199618143260851","modifiedTime":"1696546759","creationTime":"1696546759","modifiedBy":"216199618143191041","name":"BD  MGR  04","enabled":true,"description":"BD  MGR  04"},{"id":"216199618143260852","modifiedTime":"1696546804","creationTime":"1696546804","modifiedBy":"216199618143191041","name":"BD   MGR   05","enabled":true,"description":"BD   MGR   05"},{"id":"216199618143260856","modifiedTime":"1696546841","creationTime":"1696546841","modifiedBy":"216199618143191041","name":"BD    MGR06","enabled":true,"description":"BD    MGR06"},{"id":"216199618143260858","modifiedTime":"1696546879","creationTime":"1696546879","modifiedBy":"216199618143191041","name":"BD  MGR
        07","enabled":true,"description":"BD  MGR 07"},{"id":"216199618143260865","modifiedTime":"1696546934","creationTime":"1696546934","modifiedBy":"216199618143191041","name":"BD  M
        GR   08","enabled":true,"description":"BD  M GR   08"},{"id":"216199618143260861","modifiedTime":"1696548507","creationTime":"1696546906","modifiedBy":"216199618143191041","name":"BD   M   GR
        09","enabled":true,"description":"BD   M   GR 09"}]}'
    headers:
      Content-Type:
      - application/json;charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Authorization:
      - Bearer dummy_token
      Content-Type:
      - application/json
    method: GET
    uri: https://config.private.zscaler.com/mgmtconfig/v1/admin/customers/216199618143191040/machineGroup/216199618143191078
  response:
    body:
      string: '{"id":"216199618143191078","creationTime":"1651558329","modifiedBy":"216199618143191056","name":"BD-MGR01","enabled":true,"description":"BD-MGR01"}'
    headers:
      Content-Type:
      - application/json;charset=utf-8
    status:
      code: 200
      message: OK
[...]
