interactions:
- request:
    body: client_id=dummy_client_id&client_secret=dummy_client_secret
    headers:
      Authorization:
      - Bearer dummy_token
      Content-Type:
      - application/x-www-form-urlencoded
    method: POST
    uri: https://config.private.zscaler.com/signin
  response:
    body:
      string: "{\n  \"token_type\" : \"Bearer\",\n  \"access_token\": \"eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJleHAiOjE3MTIwMzc4MzV9.5WMDrRv4zfXnIPIxflq2cuvgbly7XvrNT0_GNm1Il8g\",\n
        \ \"expires_in\" : \"3600\"\n}"
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Authorization:
      - Bearer dummy_token
      Content-Type:
      - application/json
    method: GET
    uri: https://config.private.zscaler.com/mgmtconfig/v2/admin/customers/216199618143191040/network?page=1&pagesize=500
  response:
    body:
      string: '{"totalPages":"1","totalCount":"12","list":[{"id":"216199618143312411","modifiedTime":"1707269342","creationTime":"1707269342","modifiedBy":"72057594037928115","name":"BDTrustedNetwork
        (zscalertwo.net)","networkId":"9432db25-b80b-4b9a-b2e1-e30c67412593","zscalerCloud":"zscalertwo"},{"id":"216199618143266948","modifiedTime":"1698786462","creationTime":"1698786462","modifiedBy":"72057594037928115","name":"BDTrustedNetwork01
        (zscalertwo.net)","networkId":"aeba3ac7-d860-4fa4-b4b8-8936ed7bc686","zscalerCloud":"zscalertwo"},{"id":"216199618143263140","modifiedTime":"1698088292","creationTime":"1698088292","modifiedBy":"72057594037928115","name":"BD    TrustedNetwork01
        (zscalertwo.net)","networkId":"adfc825a-fad6-4bbd-96b6-68bf7a7d3886","zscalerCloud[...]
- request:
    body: null
    headers:
      Authorization:
      - Bearer dummy_token
      Content-Type:
      - application/json
    method: GET
    uri: https://config.private.zscaler.com/mgmtconfig/v1/admin/customers/216199618143191040/network/216199618143312411
  response:
    body:
      string: '{"id":"216199618143312411","modifiedTime":"1707269342","creationTime":"1707269342","modifiedBy":"72057594037928115","name":"BDTrustedNetwork
        (zscalertwo.net)","networkId":"9432db25-b80b-4b9a-b2e1-e30c67412593","zscalerCloud":"zscalertwo"}'
    headers:
      Content-Type:
      - application/json;charset=utf-8
    status:
      code: 200
      message: OK
[...]
