interactions:
- request:
    body: client_id=dummy_client_id&client_secret=dummy_client_secret
    headers:
      Authorization:
      - Bearer dummy_token
      Content-Type:
      - application/x-www-form-urlencoded
    method: POST
    uri: https://config.private.zscaler.com/signin
  response:
    body:
      string: "{\n  \"token_type\" : \"Bearer\",\n  \"access_token\": \"eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJleHAiOjE3MTIwMzc4MjF9.KJxXhG_3KfDpg7vCoLCRJrCEidkLCE-_-aLNuOJJ6wQ\",\n
        \ \"expires_in\" : \"3600\"\n}"
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: '{"name": "Test application server", "address": "192.168.200.1", "enabled":
      true, "description": "A test application server for integration tests."}'
    headers:
      Authorization:
      - Bearer dummy_token
      Content-Type:
      - application/json
    method: POST
    uri: https://config.private.zscaler.com/mgmtconfig/v1/admin/customers/216199618143191040/server
  response:
    body:
      string: '{"id":"216199618143334332","modifiedTime":"1711951421","creationTime":"1711951421","modifiedBy":"216199618143191053","name":"Test
        application server","address":"192.168.200.1","enabled":true,"description":"A
        test application server for integration tests.","configSpace":"DEFAULT"}'
    headers:
      Content-Type:
      - application/json;charset=utf-8
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
      Authorization:
      - Bearer dummy_token
      Content-Type:
      - application/json
    method: GET
    uri: https://config.private.zscaler.com/mgmtconfig/v1/admin/customers/216199618143191040/server/216199618143334332
  response:
    body:
      string: '{"id":"216199618143334332","modifiedTime":"1711951421","creationTime":"1711951421","modifiedBy":"216199618143191053","name":"Test
        application server","address":"192.168.200.1","enabled":true,"description":"A
        test application server for integration tests.","configSpace":"DEFAULT"}'
    headers:
      Content-Type:
      - application/json;charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      Authorization:
      - Bearer dummy_token
      Content-Type:
      - application/json
    method: GET
    uri: https://config.private.zscaler.com/mgmtconfig/v1/admin/customers/216199618143191040/server?page=1&pagesize=500
  response:
    body:
      string: '{"totalPages":"1","totalCount":"5","list":[{"id":"216199618143332223","modifiedTime":"1710966059","creationTime":"1710966059","modifiedBy":"216199618143191041","name":"Example","address":"192.168.1.1","enabled":true,"description":"Example","appServerGroupIds":["216199618143332224"],"configSpace":"DEFAULT"},{"id":"216199618143334332","modifiedTime":"1711951422","creationTime":"1711951421","modifiedBy":"216199618143191053","name":"Test
        application server Updated","address":"192.168.200.1","enabled":true,"description":"A
        test application server for integration tests.","configSpace":"DEFAULT"},{"id":"216199618143334094","modifiedTime":"1711788143","creationTime":"1711788143","modifiedBy":"216199618143191053","name":"tests-bxooujzucy","address":"192.168.0.1","enabled":true,"description":"A
        description for tests-bxooujzucy","configSpace":"DEFAULT"},{"id":"216199618143334025","modifiedTime":"1711735174","creationTime":"1711735174","modifiedBy":"216199618143191053","name":"tests-kigezpzhbl","address":"192.168.0.1","enabled":true,"description":"A
        description for tests-kigezpzhbl","configSpace":"DEFAULT"},{"id":"216199618143334062","modifiedTime":"1711782921","creationTime":"1711782921","modifiedBy":"216199618143191053","name":"tests-nafapjjawq","address":"192.168.0.1","enabled":true,"description":"A
        description for tests-nafapjjawq","configSpace":"DEFAULT"}]}'
    headers:
      Content-Type:
      - application/json;charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      Authorization:
      - Bearer dummy_token
      Content-Type:
      - application/json
    method: DELETE
    uri: https://config.private.zscaler.com/mgmtconfig/v1/admin/customers/216199618143191040/server/216199618143334332
  response:
    body:
      string: ''
    headers:
    status:
      code: 204
      message: No Content
version: 1
