interactions:
- request:
    body: client_id=dummy_client_id&client_secret=dummy_client_secret
    headers:
      Authorization:
      - Bearer dummy_token
      Content-Type:
      - application/x-www-form-urlencoded
    method: POST
    uri: https://config.private.zscaler.com/signin
  response:
    body:
      string: "{\n  \"token_type\" : \"Bearer\",\n  \"access_token\": \"eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJleHAiOjE3MTIwMzkxNTd9.QXy__dLdwGANhodSC-IJmpXQf5YB3PcbkponMBYbFqw\",\n
        \ \"expires_in\" : \"3600\"\n}"
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Authorization:
      - Bearer dummy_token
      Content-Type:
      - application/json
    method: GET
    uri: https://config.private.zscaler.com/mgmtconfig/v1/admin/customers/216199618143191040/isolation/profiles?page=1&pagesize=500
  response:
    body:
      string: '{"totalPages":"1","totalCount":"5","list":[{"id":"216199618143263278","creationTime":"1698089410","modifiedBy":"216199618143191041","name":"BD   SA   Profile","description":"BD   SA   Profile","enabled":true,"isolationTenantId":"8ba47504-e249-4f34-a9ca-6a8fd0a3c322","isolationProfileId":"3d2d253c-2cf0-4a59-97c8-423a4001a851","isolationUrl":"https://redirect.isolation.zscaler.com/tenant/d374ac83d089/profile/3d2d253c-2cf0-4a59-97c8-423a4001a851/zpa/render"},{"id":"216199618143263277","creationTime":"1698089392","modifiedBy":"216199618143191041","name":"BD  SA
        Profile","description":"BD  SA Profile","enabled":true,"isolationTenantId":"8ba47504-e249-4f34-a9ca-6a8fd0a3c322","isolationProfileId":"7a8941cb-2509-41dc-87a3-565b057ff472","isolationUrl":"https://redirect.isolation.zscaler.com/tenant/d374ac83d089/profile/7a8941cb-2509-41dc-87a3-565b057ff472/zpa/render"},{"id":"216199618143263279","creationTime":"1698089430","modifiedBy":"216199618143191041","name":"BD
        SA Profile","description":"BD SA Profile","enabled":true,"isolationTenantId":"8ba47504-e249-4f34-a9ca-6a8fd0a3c322","isolationProfileId":"430d804b-a2dd-4857-994c-e12b7ba25f1a","isolationUrl":"https://redirect.isolation.zscaler.com/tenant/d374ac83d089/profile/430d804b-a2dd-4857-994c-e12b7ba25f1a/zpa/render"},{"id":"216199618143212401","modifiedTime":"1683812808","creationTime":"1675813407","modifiedBy":"72057594037929825","name":"BD_SA_Profile1","description":"BD_SA_Profile1","enabled":true,"isolationTenantId":"8ba47504-e249-4f34-a9ca-6a8fd0a3c322","isolationProfileId":"fdeffec0-9f76-4f42-a39b-9233a1cc09c8","isolationUrl":"https://redirect.isolation.zscaler.com/tenant/d374ac83d089/profile/fdeffec0-9f76-4f42-a39b-9233a1cc09c8/zpa/render"},{"id":"216199618143212402","modifiedTime":"1683812810","creationTime":"1675813502","modifiedBy":"72057594037929825","name":"BD_SA_Profile2","description":"BD_SA_Profile2","enabled":true,"isolationTenantId":"8ba47504-e249-4f34-a9ca-6a8fd0a3c322","isolationProfileId":"ab1e6748-adb5-4b49-b711-1ad4f51bf535","isolationUrl":"https://redirect.isolation.zscaler.com/tenant/d374ac83d089/profile/ab1e6748-adb5-4b49-b711-1ad4f51bf535/zpa/render"}]}'
    headers:
      Content-Type:
      - application/json;charset=utf-8
    status:
      code: 200
      message: OK
[...]
