interactions:
- request:
    body: client_id=dummy_client_id&client_secret=dummy_client_secret
    headers:
      Authorization:
      - Bearer dummy_token
      Content-Type:
      - application/x-www-form-urlencoded
    method: POST
    uri: https://config.private.zscaler.com/signin
  response:
    body:
      string: "{\n  \"token_type\" : \"Bearer\",\n  \"access_token\": \"eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJleHAiOjE3MTIwMzc4Mjl9.zA5qIInv3gXGQK7vtLi63PJW2jO8rT9fyaosBxNkp7E\",\n
        \ \"expires_in\" : \"3600\"\n}"
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: '{"name": "Test Group", "enabled": true, "description": "A test segment
      group for integration tests."}'
    headers:
      Authorization:
      - Bearer dummy_token
      Content-Type:
      - application/json
    method: POST
    uri: https://config.private.zscaler.com/mgmtconfig/v1/admin/customers/216199618143191040/segmentGroup
  response:
    body:
      string: '{"id":"216199618143334333","modifiedTime":"1711951429","creationTime":"1711951429","modifiedBy":"216199618143191053","name":"Test
        Group","description":"A test segment group for integration tests.","enabled":true,"configSpace":"DEFAULT","tcpKeepAliveEnabled":"0"}'
    headers:
      Content-Type:
      - application/json;charset=utf-8
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
      Authorization:
      - Bearer dummy_token
      Content-Type:
      - application/json
    method: GET
    uri: https://config.private.zscaler.com/mgmtconfig/v1/admin/customers/216199618143191040/segmentGroup/216199618143334333
  response:
    body:
      string: '{"id":"216199618143334333","modifiedTime":"1711951429","creationTime":"1711951429","modifiedBy":"216199618143191053","name":"Test
        Group","description":"A test segment group for integration tests.","enabled":true,"configSpace":"DEFAULT","tcpKeepAliveEnabled":"0","microtenantName":"Default"}'
    headers:
      Content-Type:
      - application/json;charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      Authorization:
      - Bearer dummy_token
      Content-Type:
      - application/json
    method: GET
    uri: https://config.private.zscaler.com/mgmtconfig/v1/admin/customers/216199618143191040/segmentGroup?page=1&pagesize=500
  response:
    body:
      string: '{"totalPages":"1","totalCount":"1","list":[{"id":"216199618143334333","modifiedTime":"1711951430","creationTime":"1711951429","modifiedBy":"216199618143191053","name":"Test
        Group Updated","description":"A test segment group for integration tests.","enabled":true,"policyMigrated":true,"configSpace":"DEFAULT","tcpKeepAliveEnabled":"0","microtenantName":"Default"}]}'
    headers:
      Content-Type:
      - application/json;charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      Authorization:
      - Bearer dummy_token
      Content-Type:
      - application/json
    method: DELETE
    uri: https://config.private.zscaler.com/mgmtconfig/v1/admin/customers/216199618143191040/segmentGroup/216199618143334333
  response:
    body:
      string: ''
    headers:
    status:
      code: 204
      message: No Content
version: 1
