interactions:
- request:
    body: client_id=dummy_client_id&client_secret=dummy_client_secret
    headers:
      Authorization:
      - Bearer dummy_token
      Content-Type:
      - application/x-www-form-urlencoded
    method: POST
    uri: https://config.private.zscaler.com/signin
  response:
    body:
      string: "{\n  \"token_type\" : \"Bearer\",\n  \"access_token\": \"eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJleHAiOjE3MTA4OTMxMDF9.4mHiCdm4WcEArK9KCg4PajqMvU3ybnnw4FD-CCYCxJo\",\n
        \ \"expires_in\" : \"3600\"\n}"
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: '{"name": "itest app group", "enabled": true}'
    headers:
      Authorization:
      - Bearer dummy_token
      Content-Type:
      - application/json
    method: POST
    uri: https://config.private.zscaler.com/mgmtconfig/v1/admin/customers/216196257331281920/segmentGroup
  response:
    body:
      string: '{"id":"216196257331372676","modifiedTime":"1710806702","creationTime":"1710806702","modifiedBy":"216196257331282070","name":"itest
        app group","enabled":true,"configSpace":"DEFAULT","tcpKeepAliveEnabled":"0"}'
    headers:
      Content-Type:
      - application/json;charset=utf-8
    status:
      code: 201
      message: Created
- request:
    body: '{"name": "itest-appsegment", "domainNames": ["crm.example.com"], "tcpPortRanges":
      ["80", "80"], "udpPortRanges": null, "segmentGroupId": "216196257331372676",
      "serverGroups": []}'
    headers:
      Authorization:
      - Bearer dummy_token
      Content-Type:
      - application/json
    method: POST
    uri: https://config.private.zscaler.com/mgmtconfig/v1/admin/customers/216196257331281920/application
  response:
    body:
      string: '{"id":"216196257331372677","domainNames":["crm.example.com"],"name":"itest-appsegment","tcpPortRanges":["80","80"],"doubleEncrypt":false,"configSpace":"DEFAULT","bypassType":"NEVER","healthCheckType":"DEFAULT","icmpAccessType":"NONE","isCnameEnabled":true,"ipAnchored":false,"bypassOnReauth":false,"inspectTrafficWithZia":false,"tcpKeepAlive":"0","matchStyle":"EXCLUSIVE","isIncompleteDRConfig":false,"adpEnabled":false,"fqdnDnsCheck":false,"segmentGroupId":"216196257331372676"}'
    headers:
      Content-Type:
      - application/json;charset=utf-8
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
      Authorization:
      - Bearer dummy_token
      Content-Type:
      - application/json
    method: GET
    uri: https://config.private.zscaler.com/mgmtconfig/v1/admin/customers/216196257331281920/application/216196257331372677
  response:
    body:
      string: '{"modifiedTime":"1710806704","creationTime":"1710806704","modifiedBy":"216196257331282070","id":"216196257331372677","domainNames":["crm.example.com"],"name":"itest-appsegment","enabled":true,"passiveHealthEnabled":true,"tcpPortRanges":["80","80"],"tcpPortRange":[{"from":"80","to":"80"}],"doubleEncrypt":false,"configSpace":"DEFAULT","bypassType":"NEVER","healthCheckType":"DEFAULT","icmpAccessType":"NONE","isCnameEnabled":true,"ipAnchored":false,"bypassOnReauth":false,"inspectTrafficWithZia":false,"healthReporting":"ON_ACCESS","useInDrMode":false,"tcpKeepAlive":"0","selectConnectorCloseToApp":false,"matchStyle":"EXCLUSIVE","isIncompleteDRConfig":false,"adpEnabled":false,"fqdnDnsCheck":false,"microtenantName":"Default","segmentGroupId":"216196257331372676","segmentGroupName":"itest
        app group"}'
    headers:
      Content-Type:
      - application/json;charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Authorization:
      - Bearer dummy_token
      Content-Type:
      - application/json
    method: GET
    uri: https://config.private.zscaler.com/mgmtconfig/v1/admin/customers/216196257331281920/application?page=1&pagesize=500
  response:
    body:
      string: '{"totalPages":"1","totalCount":"0","list":[{"modifiedTime":"1706823437","creationTime":"1698164996","modifiedBy":"216196257331282070","id":"216196257331370181","domainNames":["app1.securitygeek.io"],"name":"app01","serverGroups":[{"id":"216196257331370169","modifiedTime":"1698164996","creationTime":"1698164996","modifiedBy":"216196257331282070","name":"Example100","enabled":true,"description":"Example100","configSpace":"DEFAULT","dynamicDiscovery":true}],"enabled":true,"passiveHealthEnabled":true,"tcpPortRanges":["3389","3389"],"tcpPortRange":[{"from":"3389","to":"3389"}],"doubleEncrypt":false,"configSpace":"DEFAULT","bypassType":"NEVER","healthCheckType":"NONE","icmpAccessType":"NONE","isCnameEnabled":false,"praApps":[{"id":"216196257331370199","name":"app1.securitygeek.io","enabled":true,"applicationPort":"3389","applicationProtocol":"RDP","domain":"app1.securitygeek.io","appId":"216196257331370181","hidden":false,"connectionSecurity":"ANY"}],"ipAnchored":false,"bypassOnReauth":false,"inspectTrafficWithZia":false,"healthReporting":"NONE","useInDrMode":false,"tcpKeepAlive":"0","selectConnectorCloseToApp":false,"matchStyle":"EXCLUSIVE","isIncompleteDRConfig":false,"adpEnabled":false,"fqdnDnsCheck":false,"microtenantName":"Default","segmentGroupId":"216196257331370167","segmentGroupName":"Example100"},{"modifiedTime":"1708009774","creationTime":"1698164996","modifiedBy":"216196257331282070","id":"216196257331370173","domainNames[...]
- request:
    body: null
    headers:
      Authorization:
      - Bearer dummy_token
      Content-Type:
      - application/json
    method: DELETE
    uri: https://config.private.zscaler.com/mgmtconfig/v1/admin/customers/216196257331281920/application/216196257331372677?forceDelete=true
  response:
    body:
      string: ''
    headers:
    status:
      code: 204
      message: No Content
- request:
    body: null
    headers:
      Authorization:
      - Bearer dummy_token
      Content-Type:
      - application/json
    method: DELETE
    uri: https://config.private.zscaler.com/mgmtconfig/v1/admin/customers/216196257331281920/segmentGroup/216196257331372676
  response:
    body:
      string: ''
    headers:
    status:
      code: 204
      message: No Content
version: 1
