interactions:
- request:
    body: client_id=dummy_client_id&client_secret=dummy_client_secret
    headers:
      Authorization:
      - Bearer dummy_token
      Content-Type:
      - application/x-www-form-urlencoded
    method: POST
    uri: https://config.private.zscaler.com/signin
  response:
    body:
      string: "{\n  \"token_type\" : \"Bearer\",\n  \"access_token\": \"eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJleHAiOjE3MTIwMzc4MzJ9.ObS9b1GK_-pNKfxBgTygAyrcWKORVUAt-FyuDgYel2g\",\n
        \ \"expires_in\" : \"3600\"\n}"
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: '{"name": "tests-service-edge-group", "latitude": "37.3382082", "longitude":
      "-121.8863286", "location": "San Jose, CA, USA", "description": "tests-service-edge-group
      description", "enabled": true, "upgradeDay": "SUNDAY", "upgradeTimeInSecs":
      "66600", "overrideVersionProfile": true, "versionProfileId": "0", "versionProfileName":
      "Default", "isPublic": "TRUE"}'
    headers:
      Authorization:
      - Bearer dummy_token
      Content-Type:
      - application/json
    method: POST
    uri: https://config.private.zscaler.com/mgmtconfig/v1/admin/customers/216199618143191040/serviceEdgeGroup
  response:
    body:
      string: '{"id":"216199618143334334","modifiedTime":"1711951432","creationTime":"1711951432","modifiedBy":"216199618143191053","name":"tests-service-edge-group","enabled":true,"description":"tests-service-edge-group
        description","versionProfileId":"0","overrideVersionProfile":true,"versionProfileName":"Default","upgradeTimeInSecs":"66600","upgradeDay":"SUNDAY","isPublic":"TRUE","location":"San
        Jose, CA, USA","latitude":"37.3382082","longitude":"-121.8863286","cityCountry":"San
        Jose, US","countryCode":"US","useInDrMode":false,"graceDistanceEnabled":false}'
    headers:
      Content-Type:
      - application/json;charset=utf-8
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
      Authorization:
      - Bearer dummy_token
      Content-Type:
      - application/json
    method: GET
    uri: https://config.private.zscaler.com/mgmtconfig/v1/admin/customers/216199618143191040/serviceEdgeGroup/216199618143334334
  response:
    body:
      string: '{"id":"216199618143334334","modifiedTime":"1711951432","creationTime":"1711951432","modifiedBy":"216199618143191053","name":"tests-service-edge-group","enabled":true,"description":"tests-service-edge-group
        description","versionProfileId":"0","overrideVersionProfile":true,"versionProfileName":"Default","versionProfileVisibilityScope":"ALL","upgradeTimeInSecs":"66600","upgradeDay":"SUNDAY","isPublic":"TRUE","location":"San
        Jose, CA, USA","latitude":"37.3382082","longitude":"-121.8863286","cityCountry":"San
        Jose, US","countryCode":"US","useInDrMode":false,"graceDistanceEnabled":false,"microtenantName":"Default"}'
    headers:
      Content-Type:
      - application/json;charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      Authorization:
      - Bearer dummy_token
      Content-Type:
      - application/json
    method: GET
    uri: https://config.private.zscaler.com/mgmtconfig/v1/admin/customers/216199618143191040/serviceEdgeGroup?page=1&pagesize=500
  response:
    body:
      string: '{"totalPages":"1","totalCount":"4","list":[{"id":"216199618143330404","modifiedTime":"1710354136","creationTime":"1710354136","modifiedBy":"216199618143191041","name":"Example01","enabled":true,"description":"Example01","versionProfileId":"2","overrideVersionProfile":true,"versionProfileName":"New
        Release","versionProfileVisibilityScope":"ALL","upgradeTimeInSecs":"25200","upgradeDay":"MONDAY","isPublic":"TRUE","location":"San
        Jose, CA, USA","latitude":"37.33874","longitude":"-121.8852525","cityCountry":"San
        Jose, US","countryCode":"US","useInDrMode":false,"graceDistanceEnabled":false,"graceDistanceValueUnit":"MILES","microtenantName":"Default"},{"id":"216199618143334095","modifiedTime":"1711788144","creationTime":"1711788144","modifiedBy":"216199618143191053","name":"tests-gewclnaenq","enabled":true,"description":"A
        description for tests-gewclnaenq","versionProfileId":"0","overrideVersionProfile":true,"versionProfileName":"Default","versionProfileVisibilityScope":"ALL","upgradeTimeInSecs":"66600","upgradeDay":"SUNDAY","isPublic":"TRUE","location":"San
        Jose, CA, USA","latitude":"37.33[...]
[...]
- request:
    body: null
    headers:
      Authorization:
      - Bearer dummy_token
      Content-Type:
      - application/json
    method: DELETE
    uri: https://config.private.zscaler.com/mgmtconfig/v1/admin/customers/216199618143191040/serviceEdgeGroup/216199618143334334
  response:
    body:
      string: ''
    headers:
    status:
      code: 204
      message: No Content
version: 1
